<div ng-controller="fingerprintController" ng-init="init()">
<br>
<br>
<header id="style-guide-header">
    <div  class="col-lg-8">
        <h2><i class="icon-home"></i> Muzima Fingerprint Module</h2>
    </div>
</header>
    <div id="body-wrapper" class="test-page">
        <div class = "row forms-list">
            <div class ="col-lg-12" >

                <table>
                    <thead >
                    <tr class = "forms-header">
                        <th>Patient List</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <thead >
                    <tr class = "forms-list-header">
                        <th>Id</th>
                        <th>Given</th>
                        <th>Family Name</th>
                        <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id = 'paitentId'>
                            <a href=""></a>
                        </td>
                        <td id = 'GivenN'></td>
                        <td id = 'FamilyN'></td>
                        <td id = 'Gender'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

