


<!--</br>-->
<!--&lt;!&ndash;new ui&ndash;&gt;-->
<!--<div ng-controller="fingerprintController" ng-init="init()">-->
    <!--<header id="style-guide-header">-->
        <!--<div  class="col-lg-8">-->
            <!--<h2><i class="icon-home"></i>Muzima FingerPrint Module</h2>-->
        <!--</div>-->
    <!--</header>-->

    <!--<div id="body-wrapper" class="test-page">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<a href="" ng-click = "identifyPatient()">Search Patient</a>-->
                <!--<a href="" ng-click = "createPatient()">Create Patient</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--</br>-->
        <!--<div class = "row forms-list">-->
            <!--<div class ="col-lg-12" >-->

                <!--<table>-->
                    <!--<thead >-->
                    <!--<tr class = "forms-header">-->
                        <!--<th>Patient List</th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<thead >-->
                    <!--<tr class = "forms-list-header">-->
                        <!--<th>Identifier</th>-->
                        <!--<th>Given</th>-->
                        <!--<th>Middle</th>-->
                        <!--<th>Family Name</th>-->
                        <!--<th>Gender</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<a href="">name</a>-->
                        <!--</td>-->
                        <!--<td>name</td>-->
                        <!--<td>name</td>-->
                        <!--<td >name</td>-->
                        <!--<td>name</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

