
.navbar-custom{
    background-color: #231F20;
    margin: 10px 10px 10px 10px;
}
.upload-btn
{

background-color: #5b57a6;
border: #5b57a6 1px solid;
padding: 8px 20px;
display: inline-block;
color: white;
cursor: pointer;
max-width: 300px;
text-decoration: none;
padding: 5px 6px;
}
.tags {
margin: 2px;
}
.forms-list
{
	font-size: 12px;
}
.forms-list-header
{
	font-size: 15px;
}
.panel-custom{
	margin-left: 15px;
	width: 97%;
}
.htmlData
{
	width: 100%;
	height: 300px;
	font-size: 12px;
	border: 1px solid silver;
}
i { cursor: pointer; cursor: hand; }

.add-tag{
	width: 20%;
}

.dialog-background{
    background: none repeat scroll 0 0 rgba(142, 139, 139, 0.5);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.dialog-main{

	margin-top: 100px;
	font-size: 12px;
}
.create-panel
{
	margin-left: 15%;
	margin-right: 15%;
}
.forms-header
{
	font-size: 15px;
	color: white;
}
.forms-header>th{
	background-color: #009384;
	border: 0;
}
.forms-header>th>a{

	text-decoration: none;
}
.viewPage{
font-size:14px;
}
.imagePreview{
    height: 300px;
    width: 440px;
}